@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&family=Roboto:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 212 48% 95%;
    --foreground: 212 5% 10%;
    --card: 212 48% 94%;
    --card-foreground: 212 5% 15%;
    --popover: 212 48% 95%;
    --popover-foreground: 212 95% 10%;
    --primary: 212 89% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 90%;
    --secondary-foreground: 0 0% 0%;
    --muted: 174 30% 94%;
    --muted-foreground: 212 5% 40%;
    --accent: 174 30% 90%;
    --accent-foreground: 212 5% 15%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 212 5% 94%;
    --border: 212 30% 82%;
    --input: 212 30% 50%;
    --ring: 212 89% 30%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 212 48% 10%;
    --foreground: 212 5% 94%;
    --card: 212 48% 10%;
    --card-foreground: 212 5% 94%;
    --popover: 212 48% 5%;
    --popover-foreground: 212 5% 94%;
    --primary: 212 89% 30%;
    --primary-foreground: 0 0% 100%;
    --secondary: 212 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 174 30% 25%;
    --muted-foreground: 212 5% 65%;
    --accent: 174 30% 25%;
    --accent-foreground: 212 5% 94%;
    --destructive: 0 50% 50%;
    --destructive-foreground: 212 5% 94%;
    --border: 212 30% 50%;
    --input: 212 30% 50%;
    --ring: 212 89% 30%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'Roboto Slab', serif;
  }
}
